.woocommerce-products-header {
  height: 482px;
  margin: -17px 0 0;
  position: relative;
  background-size: cover;
  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    letter-spacing: normal;
  }
}

.shops-body {
  padding: 125px 0;
  .btn-stride {
    padding: 14px 91.5px;
  }
}
.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  width: calc((100% - 48px) / 3);
  @include breakpoint(small) {
    width: 100%;
  }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  &:nth-child(3n) {
    margin-right: 0;
  }
  margin: 0 24px 2.992em 0;
  @include breakpoint(small) {
    margin: 0 0 2.992em 0;
  }
}
.woocommerce ul.products li.product {
  img {
    margin: 0 0 20px;
  }
  h2 {
    line-height: 0;
    font-size: 24px !important;
    line-height: 40px !important;
    font-weight: 800 !important;
    color: $color__black;
    letter-spacing: normal;
  }
  span.price {
    font-size: 24px !important;
    line-height: 40px !important;
    font-weight: 400 !important;
    color: #93c3dc;
    letter-spacing: normal;
  }
}

.woocommerce ul.products li.product a img {
  margin: 0 0 25px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  padding: 0;
}
