@font-face {
    font-family: 'avenir';
    src: url('../../fonts/AvenirRegular.woff2') format('woff2'),
         url('../../fonts/AvenirRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url('../../fonts/AvenirMedium.woff2') format('woff2'),
         url('../../fonts/AvenirMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url('../../fonts/AvenirHeavy.woff2') format('woff2'),
         url('../../fonts/AvenirHeavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'avenir';
    src: url('../../fonts/AvenirBlack.woff2') format('woff2'),
         url('../../fonts/AvenirBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}