$font-family-base: "Sans Serif", serif;
$font__main: "avenir";

$color__base: #022b3a;
$color__secondary: #e89a5e;
$color__tertiary: #e69e6c;
$color__quatenary: #022b3a;
$color__light-blue: #93c3dc;
$color__blue: #b2d4e6;
$color__light-grey: #f0f0f0;
$color__grey: #8f8f8f;
$color__text: #080a0f;
$color__black: #000;
